@import url("https://fonts.googleapis.com/css?family=Lato:300&display=swap");
@import "variables";
@import "mixins";
/* general */

* {
  box-sizing: border-box;
}

body {
  margin: $body-margin;
}

h1 {
  @include h1();
}

/* strips */
.strips {
  @include strips();
  .strip {
    @include strip();
    .strip_content {
      @include strip_content();
    }
  }
}
/* before */
.strips {
  .strip_content:before {
    @include strip_content_before;
  }
}
.strips {
  .strip_content:hover:before {
    transform: skew(0deg) scaleX(2) translate(0, 0);
    opacity: 0.2;
  }
}

/* strips 1-5: nth-child 1-5 */
.strip:nth-child(1) {
  .strip_content {
    @include strip_content($strip1-bkgc, 0.5s);
  }
}

.strip:nth-child(2) {
  .strip_content {
    @include strip_content($strip2-bkgc, 0.8s);
  }
}

.strip:nth-child(3) {
  .strip_content {
    @include strip_content($strip3-bkgc, 0.7s);
  }
}

.strip:nth-child(4) {
  .strip_content {
    @include strip_content($strip4-bkgc, 1s);
  }
}

.strip:nth-child(5) {
  .strip_content {
    @include strip_content($strip5-bkgc, 1.1s);
  }
}

@for $i from 1 through 5 {
  .strip:nth-child#{$i} {
    @keyframes strip--u4rx9r0 {
      from {
        transform: $transform;
      }
    }
  }
}
